---
layout: default
---

<div class="row">
  {% for post in paginator.posts %}
        <a href="{{ post.url }}">

  {% if post.label == "game-dev" %}        
  <div class="col-md-12 post-index game-dev">  
  {% elsif post.label == "Web-dev" %}   
  <div class="col-md-12 post-index web-dev">
  {% elsif post.label == "AI" %}   
  <div class="col-md-12 post-index illustrator">
  {% else %}
  <div class="col-md-12 post-index">
  {% endif %}  
    <h1 class="post-title">

        {{ post.title }} 
         
    
    {% for tag in post.tags limit:1 %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <span class="index-tag"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</span>
    {% endfor %}
    
      
    </h1>

    
  </div></a>
  {% endfor %}
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
<br>
<a href="/tag">Archive</a>
</div>
<hr>

